
.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

p{
    margin: 0;
    font-size: 14px;
}

h1{
    margin-bottom: 40px;
    text-align: center;
}

.module-list{
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.module-list .card{
    width: 200px;
}

.module-list .card.background-red{
    background: #ff00000d;
}

.module-list .card.background-gray{
    background: #f7f7f7;
}

.module-list .card .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.module-list .card button{
    margin-top: 30px;
}

.module-list .card .card-text{
    margin-top: 30px;
}

.module-list .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.module-list .card .buttons{
    display: flex;
    justify-content: space-between;
}

.module-list .card .buttons .btn-gray{
    background: #e6e6e6;
}

.module-list .card .buttons .btn-gray:hover{
   border: 1px solid black;
}


.indicator{
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    float: right;
    border-radius: 100%;
}


.indicator.state-2{
    background: #de2828;
}

.indicator.state-1{
    background: #04b02f;
}

.indicator.state-0{
    background: #c3c3c3;;
}

.history{
    margin-top: 40px;
}

.history .history-list{
    font-size: 14px;
    list-style: none;
    margin: 0;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    color: #5c5c5c;
}

.history-list li{
    padding: 5px;
}

.controller{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.my-modal{
    position: fixed;
    top: 25px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.4s;
}

.my-modal.active{
    opacity: 1;
    transform: translateY(0px);
    transition: 0.4s;
}

.my-modal.success{
    color: var(--bs-success);
    border: 1px solid var(--bs-success);
    background: #00ec0c2e;
}

.my-modal.error{
    background: #ffacac59;
    color: var(--bs-danger);
    border: 1px solid var(--bs-danger);
}

.chart{
    margin-top: 40px;
}

.chart canvas{
    margin: 0 auto;
    margin-top: 20px;
}